@font-face {
  font-family: Gotham;
  src: url(../other_media/GothamMedium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham, sans-serif;
}

.autocomplete_bar_overlay.active {
  position: fixed;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.home_loader.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(127, 52, 197);
  z-index: 1000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_loader::after {
  content: "Loading...";
  font-size: 2rem;
  color: white;
}
