* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gotham;
}

* button {
  margin: 5px 0;
}

/*---- Loading Spinner Styles Start ----*/
#loader_overlay {
  display: none;
}

#loader_overlay.active {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loader_overlay #spinner {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.486);
  border-top: 10px solid royalblue;
  animation: spinner 0.7s infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
    border-top: 10px solid greenyellow;
  }
  to {
    transform: rotate(360deg);
    border-top: 10px solid royalblue;
  }
}

#loader_overlay p {
  font-size: 1.5rem;
  font-weight: bold;
}

/*---- Loading Spinner Styles End ----*/

/*---- Nav Bar Styles Start ----*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: royalblue;
  color: white;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
}

nav span {
  margin: 0 10px;
}
/*---- Nav Bar Styles End ----*/

/*---- Home Styles start ----*/
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 30px;
  height: 100vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.home_img img {
  width: 300px;
  height: 300px;
}

/*---- Category Section Start ----*/
.category_section {
  text-align: center;
  height: 100vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
}

.categories .category {
  margin: 0 20px;
}
/*---- Category Section End ----*/

/*---- Hot Deals Section Start ----*/
.hot_deals_section {
  text-align: center;
  height: 100vh;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.hot_deals_section .product {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product .main {
  display: flex;
  align-items: center;
}

.product .main span {
  font-size: 5rem;
}

.product .product_info {
  width: 300px;
}
/*---- Hot Deals Section End ----*/

/*---- Home Styles end ----*/

/*---- Product Detail Page Start */
.product_detail_page {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product_detail_page .product_img img {
  height: 500px;
  width: 450px;
}
/*---- Product Detail Page End */

/* ----Search page Start ---- */
.search_page {
  text-align: center;
  /* height: 100vh; */
}

.search_page .product_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: cornflowerblue;
}

.product_card .card_img {
  /* font-size: 7rem; */
  width: 200px;
  height: 200px;
}
/* ----Search page End ---- */

/* ----Cart Page Start */
.cart {
  text-align: center;
  height: 85vh;
}

.cart .cart_item {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
}

.cart_item_img img {
  height: 100px;
  width: 100px;
}

.cart_item_main span {
  margin: 0 10px;
}

.cart_page_sections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkout_card {
  border: 1px solid black;
  padding: 10px;
}

/* ----Cart Page End */

/* ----Footer Start ---- */
footer {
  padding: 10px;
  text-align: end;
  background-color: royalblue;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
/* ----Footer End ---- */
